@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  overflow: auto;

  /* Hide scrollbar on Firefox */
  scrollbar-width: none;

  /* Hide scrollbar on IE, Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar on Chrome, Safari, Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
